#idSelector {
  color: blue;
}

.classSelector {
  font-style: italic;
}

h1 {
  text-decoration: underline;
}

div span {
  font-weight: bold;
}

li.special {
  background-color: lightgreen;
}

/* Додаткові селектори */
ul li:first-child {
  font-weight: bold;
}

a[href] {
  color: orange;
}

p:hover {
  color: red;
}
